
asgiref
attrs
bcrypt
beautifulsoup4
blinker
CacheControl
cachetools
certifi
chardet
charset-normalizer
click
colorama 
cryptography
dateutils 
defer
distro
distro-info
Django
django-widget-tweaks
duplicity
exceptiongroup
fasteners
firebase-admin
Flask
Flask-Cors
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httplib2
idna
importlib-metadata
itsdangerous
jeepney
Jinja2
keyring 
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
msgpack
mysqlclient
netifaces
nsetools
numpy
oauthlib
olefile
outcome
packaging
pandas
paramiko
pexpect
Pillow
proto-plus
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyMySQL
PyNaCl
pynvim
pyparsing
pyRFC3339
PySocks 
python-dateutil
python-debian
python-dotenv
pytz
pywal
pyxdg
PyYAML
reportlab
requests
rsa
SecretStorage
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse 
trio
trio-websocket
typing_extensions
tzdata 
uritemplate
urllib3 
wadllib
webdriver-manager
Werkzeug
wsproto
xdg
zipp
